/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.application-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-content: center;
    background-color: #F4F4F4;
}
/* Nav section */
.nav-section {
    //border: solid 1px red;
    width: 100%;
    height: 5rem;
    background-color: white;

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .money-saver-header-rev {
        position: absolute;
        top: 15px;
        left: 40px;
        display: block;
    }

    .nav-content {
        //margin-right: 2rem;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin-right: 1rem;
            text-decoration: none;
        }
    }

    .content-section {
        min-width: 80%;
    }

    .budget-button {
        color: #ffffff;
        background-color: #38B6FF;
        padding: 0.5rem;
        border-radius: 10px;
        text-decoration: none;
    }

    //.budget-button:hover {
    //
    //}
}

.divider {
    border: solid 4px #38B6FF;
}






